.formField {
  background: #FFF;
}

.selector {
  padding: 2rem 0 0;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {

  margin: 2rem;
  display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
